

#course{
	height: 300px;

	.table.small{
		width: 90%;
		th, td{
			padding: 2px;
			width: 20px;
		}
		td{
			text-align: right;
		}

		tr{
			&.art-aktiv{
				color: #FE0405; //rgb(254,4,5);
			}
			&.art-vds{
				color: #9BBB59;
			}
			&.art-techadm{
				color: #668CD9; //rgb(102,140,217);
			}
		}
	}
}
#course-legend{
	h2, h3{
		margin-top: 0;
	}
	h3{
		font-size: 16px;
		>span{
			position: absolute;
			left: -34px;
			font-size: 12px;
			padding-top: 3px;
			text-align: right;
			width: 43px;
		}
	}
}

#legend_typ_aktiv{
	color: #FE0405;
}
#legend_typ_vds{
	color: #9BBB59;
}
#legend_typ_techadm{
	color: #668CD9;
}