
#delikt{
	height: 263px;
}
#deliktTable{
	td{
		padding: 2px;
		border: 0;
		transition: padding-left 0.25s;

		&:hover, &.active{
			cursor: pointer;
			padding-left: 1em;
			transition: padding-left 0.25s;
		}
	}
	td:first-child{
		padding-right: 0;
		padding-left: 0;
		&>span{
			top: 3px;
		}
	}
}
#deliktDescr{
	height: 3em;
}