
#filter{
	years, cantons{
		display: block;
		clear: both;
	}
	cantons>.row{
		padding-top: 30px;
		&>div:last-child>.btn-group:last-child{
			padding-top: 9px;
		}
	}
	.btn-group{
		&>.btn{
			font-family: "Lucida Console", Monaco, monospace;
			margin-bottom: 1rem;
			&.focus{
				outline: none;
				transition: background-color 0.5s 0.1s;
			}
			// &.flag-gr{
			// 	background-image: url(../images/flags/flag_gr.png);
			// 	background-repeat: no-repeat;
			// 	background-position: left center;
			// 	background-size: 16px 16px;
			// }
		}
		&.split-h{
			&>.btn {
				margin-bottom: 0;
				width: 100%;

				&:first-child{
					border-radius: 4px 4px 0 0;
					border-bottom: 0;
				}
				&:last-child{
					margin-left: 0;
					border-radius: 0 0 4px 4px;
				}
			}
		}
	}
}

.goToTop {
  position: fixed;
  top: 0;
  z-index: 1;

  .content{
  	padding-top: 10px;
  	background-color: #fafafa;
  }
}

#gradient-border{
	height: 40px;
	background-image: -ms-linear-gradient(top, #fafafa 0%, transparent 100%);
	background-image: -moz-linear-gradient(top, #fafafa 0%, transparent 100%);
	background-image: -o-linear-gradient(top, #fafafa 0%, transparent 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, transparent));
	background-image: -webkit-linear-gradient(top, #fafafa 0%, transparent 100%);
	background-image: linear-gradient(to bottom, #fafafa 0%, transparent 100%);
}