
#filter{
	years, cantons{
		display: block;
		clear: both;
	}
	years{
		float: left;
		margin-right: 2em;
	}
	#filterText{
		margin-top: 0;
	}
	cantons>.row{
		padding-top: 30px;
		&>div:last-child>.btn-group:last-child{
			padding-top: 9px;
		}
	}
	.btn-group{
		&>.btn{
			font-family: "Lucida Console", Monaco, monospace;
			margin-bottom: 1rem;
			&.focus{
				outline: none;
				transition: background-color 0.5s 0.1s;
			}
		}
		&.split-h{
			&>.btn {
				margin-bottom: 0;
				width: 100%;

				&:first-child{
					border-radius: 4px 4px 0 0;
					border-bottom: 0;
				}
				&:last-child{
					margin-left: 0;
					border-radius: 0 0 4px 4px;
				}
			}
		}
	}
}

.goToTop {
  position: fixed;
  top: 0;
  z-index: 1;

  .content{
  	padding-top: 10px;
  	background-color: #fafafa;
  }
}

#gradient-border{
	height: 40px;
	background: transparent;
	background: -ms-linear-gradient(top, #fafafa 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, #fafafa 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0 );
}