

#welcome, #impressum, #slir, #quellen{
	font-size: 1.2em;
}

#welcome{
	@include shadowBox();
	background-color: $rowBoxBg;
	&>p{
		margin-bottom: 0;
	}
}
h1{
	font-size: 3em;
	margin-top: 1em;
	margin-bottom: 1em;
}
#mainTitle{
	margin-top: 3em;
	text-align: center;
	color: white;
	text-shadow: 0px 0px 40px #000;
}

#startContent{
	margin-top: 13em;
	margin-bottom: 8em;
	@include shadowBox();
	background-color: $rowBoxBg;
	box-shadow: 0px 0px 8px #FFFFFF;
}

#slir, #footerRow{
	@include shadowBox();
	background-color: $rowBoxBg;
	box-shadow: 0px 0px 8px #FFFFFF;
	&>p{
		margin-bottom: 0;
	}
	h2{
		margin-top: 0;
	}
}

#slir{
	margin-bottom: 3em;
	margin-top: 6em;
}

#slir > a > img{
	float: left;
	width: 110px;
	margin-right: 1em;
}

#quellen{
	ul li{
		list-style-type: none;
		margin-left: 0;
		padding-left: 0;
	}
	li{
		&:not(:first-child){
			margin-top: 1em;
		}
		> .glyphicon{
			font-size: 0.8em;
			padding-right: 0.5em;
		}
	}
	ul{
		margin-left: 0;
		padding-left: 0;
	}
}

#lang-menu{
	list-style-type: none;
	li{
		float: left;
		font-size: 1.1em;
		a{
			color: #80C7FF;
			padding-left: 1em;
			padding-right: 1em;
		}
		&:not(:last-child){
			&:after{
				content: '|';
				color: $shadowBoxBg;
			}
		}
	}
}

