#mobile{
	table{
		margin-left: 0;
		padding: 0;

		tr>td:first-child{
			display: inline-block;
			width: 53px;
			text-align: right;
		}
		tr>td:last-child{
			padding-left: 1em;
			white-space: normal;
		}
	}
}