body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  >.container{
  	margin-bottom: 3em;
  }
}

table{
	width: 100%;
	td, th{
		white-space: nowrap;
		&.fill{
			width: 100%;
		}
	}
}

hr{
	clear: both;
}

#welcome, #impressum, #slir{
	font-size: 1.2em;
}

#welcome{
	min-height: 0;
	column-count: 2;
	column-gap: 2em;
}

#slir > img{
	float: left;
	width: 120px;
	margin-right: 1em;
}

.nvd3.nv-pie path{
	stroke: transparent;
}

.border-right{
	border-right: 1px solid #eeeeee;
}

@import "course";
@import "map";
@import "filter";
@import "technologie";
@import "delikt";
@import "straftaten";
