// TODO: is not inlined during complication
@import "nvd3/nv.d3.css";

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

@mixin container{
	float: left;
	display: inline;
	width: 50%;
}

#year{
	@include container;
}
#year-legend{
	@include container;
}
hr{
	clear: both;
}
#filter{
	@include container;
}

@import "map";