
ul
	each aCanton in cantons
		li
			button(value=aCanton, class={active: aCanton==canton})=aCanton
	each aFakeCanton in fakeCantons
		li
			button(value=aFakeCanton, class={active: aFakeCanton==canton}, class='fake')=aFakeCanton