
.btn-group
	each aFakeCanton in fakeCantons
		button(value=aFakeCanton, class={active: aFakeCanton==canton}, class='fake btn btn-default')=aFakeCanton
.btn-group
	each aCanton in cantons1
		button(value=aCanton, class={active: aCanton==canton}, class='btn btn-default')=aCanton
.btn-group
	each aCanton in cantons2
		button(value=aCanton, class={active: aCanton==canton}, class='btn btn-default')=aCanton