h2 Art der Überwachung
table.table
	tr
		th Total
		td.text-right=numeral(total).format()
	tr
		th Aktiv
		td.text-right=numeral(activ).format()
	tr
		th Vorratsdaten
		td.text-right=numeral(vorratsdaten).format()
	tr
		th Telefon
		td.text-right=numeral(telefonbuch).format()