h3=window.i18n.l('title_txt_schwerestraftaten')
table.table
	if view.sectionValues
		for section, idx in view.sectionValues
			tr
				th.fill=section.key
				td.text-right=section ? numeral(section.number).format() : ''
				td (#{section ? section.prozent : ''}%)