table.table
	if view.sectionValues
		for section in view.sectionValues
			tr(data-idx=section.idx)
				td(style='color: rgb('+section.rgb+');')
					span(class='glyphicon glyphicon-user')
				td=section.key
