h3=window.i18n.l('title_txt_deliktegruppe')
table.table
	if view.sectionValues
		for section in view.sectionValues
			tr(data-idx=section.idx)
				td(style='background-color: rgb('+section.rgb+');')
				th=section.key
				td.fill.text-right=section ? numeral(section.value).format() : ''
