table.table
	if view.sectionValues
		for section in view.sectionValues
			tr(data-idx=section.idx)
				td
					span(class='glyphicon glyphicon-user', style='color: rgb('+section.rgb+');')
					=section.key