h3 Deliktgruppen
table.table
	if view.sectionValues
		for section, idx in view.sectionValues
			tr
				td(style='background-color: rgb('+section.rgb+');')
				th=section.key
				td.fill.text-right=section ? numeral(section.value).format() : ''
